<a href="https://colab.research.google.com/github/kadarishiva/Heart-Disease-prediction/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**End to End supervised machine learning pipeline for Heart Disease prediction.**

In this project, I'm constructing a supervised learning model to predict Heart Diseases. This data consists of various parameters that affect heart health. By resolving this and predicting the accuracy, doctors will be able to better understand which parameters will affect heart health. Doctors can easily predict the future health condition of their patients with the help of prediction.

**Importing Libraries**

In [ ]:
import pandas as pd
import numpy
import sklearn.model_selection
import sklearn.linear_model
from sklearn import preprocessing
import sklearn.tree
import sklearn.svm
from sklearn.preprocessing import StandardScaler
import sklearn.svm
import sklearn.metrics

Importhing the required packages to perform the required operation

In [ ]:
ds = pd.read_csv('/content/heart_disease.csv')
ds

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,Male,50,uneducated,1,1.0,0.0,no,1,0,313.0,179.0,92.0,25.97,66.0,86.0,yes
4234,Male,51,graduate,1,43.0,0.0,no,0,0,207.0,126.5,80.0,19.71,65.0,68.0,No
4235,Female,48,primaryschool,1,20.0,NaN,no,0,0,248.0,131.0,72.0,22.00,84.0,86.0,No
4236,Female,44,uneducated,1,15.0,0.0,no,0,0,210.0,126.5,87.0,19.16,86.0,NaN,No
4237,Female,52,primaryschool,0,0.0,0.0,no,0,0,269.0,133.5,83.0,21.47,80.0,107.0,No

Using Pandas package, to load the data.

**Exploratatory Data Analysis**

In [ ]:
ds = ds.drop(['Gender','education', 'prevalentStroke'], axis=1)

I have removed some columns which is irrevelant feature. If i remove the unwanted features, that increase the performance.

In [ ]:
ds.isnull().sum()

age                0
currentSmoker      0
cigsPerDay        29
BPMeds            53
prevalentHyp       0
diabetes           0
totChol           50
sysBP              0
diaBP              0
BMI               19
heartRate          1
glucose          388
Heart_ stroke      0
dtype: int64

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            4238 non-null   int64
 1   currentSmoker  4238 non-null   int64
 2   cigsPerDay     4209 non-null   float64
 3   BPMeds         4185 non-null   float64
 4   prevalentHyp   4238 non-null   int64
 5   diabetes       4238 non-null   int64
 6   totChol        4188 non-null   float64
 7   sysBP          4238 non-null   float64
 8   diaBP          4238 non-null   float64
 9   BMI            4219 non-null   float64
 10  heartRate      4237 non-null   float64
 11  glucose        3850 non-null   float64
 12  Heart_ stroke  4238 non-null   object
dtypes: float64(8), int64(4), object(1)
memory usage: 430.5+ KB

Here, I am checking for null values and variables type.

In [ ]:
lab_enc = preprocessing.LabelEncoder()
ds['Heart_ stroke'] = lab_enc.fit_transform(ds['Heart_ stroke'])

I have used labelencoder to convert categorical data into numerical data. I have done this to convert the target label to numeric data

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            4238 non-null   int64
 1   currentSmoker  4238 non-null   int64
 2   cigsPerDay     4209 non-null   float64
 3   BPMeds         4185 non-null   float64
 4   prevalentHyp   4238 non-null   int64
 5   diabetes       4238 non-null   int64
 6   totChol        4188 non-null   float64
 7   sysBP          4238 non-null   float64
 8   diaBP          4238 non-null   float64
 9   BMI            4219 non-null   float64
 10  heartRate      4237 non-null   float64
 11  glucose        3850 non-null   float64
 12  Heart_ stroke  4238 non-null   int64
dtypes: float64(8), int64(5)
memory usage: 430.5 KB

Here after labelencoding, all columns data converted into numeric form.

In [ ]:
ds.head(20)

,age,currentSmoker,cigsPerDay,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,39,0,0.0,0.0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,46,0,0.0,0.0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,48,1,20.0,0.0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,61,1,30.0,0.0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,46,1,23.0,0.0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,43,0,0.0,0.0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,63,0,0.0,0.0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,45,1,20.0,0.0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,52,0,0.0,0.0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,43,1,30.0,0.0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0
10,50,0,0.0,0.0,0,0,254.0,133.0,76.0,22.91,75.0,76.0,0
11,43,0,0.0,0.0,0,0,247.0,131.0,88.0,27.64,72.0,61.0,0
12,46,1,15.0,0.0,1,0,294.0,142.0,94.0,26.31,98.0,64.0,0
13,41,0,0.0,1.0,1,0,332.0,124.0,88.0,31.31,65.0,84.0,0
14,39,1,9.0,0.0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
15,38,1,20.0,0.0,1,0,221.0,140.0,90.0,21.35,95.0,70.0,1
16,48,1,10.0,0.0,1,0,232.0,138.0,90.0,22.37,64.0,72.0,0
17,46,1,20.0,0.0,0,0,291.0,112.0,78.0,23.38,80.0,89.0,1
18,38,1,5.0,0.0,0,0,195.0,122.0,84.5,23.24,75.0,78.0,0
19,41,0,0.0,0.0,0,0,195.0,139.0,88.0,26.88,85.0,65.0,0

**Splitting the data into training and test sets**

In [ ]:
x = ds.drop(['Heart_ stroke'], axis = 1)
y = ds['Heart_ stroke']
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)

In this step, i have dropped target variable and assigned it to y. After that, i have splitted the data into test and train

In [ ]:
x_train.isnull().sum()

age                0
currentSmoker      0
cigsPerDay        21
BPMeds            40
prevalentHyp       0
diabetes           0
totChol           40
sysBP              0
diaBP              0
BMI               17
heartRate          1
glucose          280
dtype: int64

In [ ]:
y_train.isnull().sum()

0

In [ ]:
x_test.isnull().sum()

age                0
currentSmoker      0
cigsPerDay         8
BPMeds            13
prevalentHyp       0
diabetes           0
totChol           10
sysBP              0
diaBP              0
BMI                2
heartRate          0
glucose          108
dtype: int64

In [ ]:
y_test.isnull().sum()

0

In [ ]:
ds.describe()

,age,currentSmoker,cigsPerDay,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
count,4238.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,49.584946,0.494101,9.003089,0.029630,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,8.572160,0.500024,11.920094,0.169584,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,56.000000,1.000000,20.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,70.000000,1.000000,70.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

I used describe() method to find mean,std,min and maximum values from the dataset.

In [ ]:
x_train['glucose'] = x_train['glucose'].fillna(x_train['glucose'].mean())
x_train['heartRate'] = x_train['heartRate'].fillna(x_train['heartRate'].mean())
x_train['BMI'] = x_train['BMI'].fillna(x_train['BMI'].mean())
x_train['BPMeds'] = x_train['BPMeds'].fillna(x_train['BPMeds'].mean())
x_train['cigsPerDay'] = x_train['cigsPerDay'].fillna(x_train['cigsPerDay'].mean())
x_train['totChol'] = x_train['totChol'].fillna(x_train['totChol'].mean())

In [ ]:
x_test['glucose'] = x_test['glucose'].fillna(x_test['glucose'].mean())
x_test['BMI'] = x_test['BMI'].fillna(x_test['BMI'].mean())
x_test['BPMeds'] = x_test['BPMeds'].fillna(x_test['BPMeds'].mean())
x_test['cigsPerDay'] = x_test['cigsPerDay'].fillna(x_test['cigsPerDay'].mean())
x_test['totChol'] = x_test['totChol'].fillna(x_test['totChol'].mean())

By using mean() method, I have replaced all the null values with mean value.

In [ ]:
x_train.isnull().sum()

age              0
currentSmoker    0
cigsPerDay       0
BPMeds           0
prevalentHyp     0
diabetes         0
totChol          0
sysBP            0
diaBP            0
BMI              0
heartRate        0
glucose          0
dtype: int64

In [ ]:
x_test.isnull().sum()

age              0
currentSmoker    0
cigsPerDay       0
BPMeds           0
prevalentHyp     0
diabetes         0
totChol          0
sysBP            0
diaBP            0
BMI              0
heartRate        0
glucose          0
dtype: int64

In [ ]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

**Algorithm Selection and Hyperparameter Tuning**

I have used Standardscaler process to standardization.

In [ ]:
par_grid_1 = {
    'fit_intercept' : [True],
    'C' : [0.1],
    'penalty' : ['l2']
}

model_2 = sklearn.model_selection.GridSearchCV(sklearn.linear_model.LogisticRegression(), par_grid_1, scoring='accuracy', cv=5, n_jobs=-1)
model_2.fit(x_train, y_train)
print('accuracy = {:.2f}'.format(model_2.best_score_))
print('best hyperparameters of logistic regression = {}'.format(model_2.best_params_))

accuracy = 0.85
best hyperparameters of logistic regression = {'C': 0.1, 'fit_intercept': True, 'penalty': 'l2'}

In [ ]:
par_grid_1 = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : range(1,10,3),
    'min_samples_split' : range(2,20,3)
}

model_3 = sklearn.model_selection.GridSearchCV(sklearn.tree.DecisionTreeClassifier(), par_grid_1, scoring='accuracy', cv=5, n_jobs=-1)
model_3.fit(x_train, y_train)
print('accuracy of decision tree = {:.2f}'.format(model_3.best_score_))
print('best hyperparameters of decision tree = {}'.format(model_3.best_params_))

accuracy of decision tree = 0.85
best hyperparameters of decision tree = {'criterion': 'gini', 'max_depth': 1, 'min_samples_split': 2}

In [ ]:
par_grid_1 = {
    'kernel' : ['rbf', 'poly'],
    'C' : [0.001, 0.01, 0.1, 1, 10]
}

model_4 = sklearn.model_selection.GridSearchCV(sklearn.svm.SVC(), par_grid_1, scoring='accuracy', cv=5, n_jobs=-1)
model_4.fit(x_train, y_train)
print('accuracy = {:.2f}'.format(model_4.best_score_))
print('best hyperparameters of svm = {}'.format(model_4.best_params_))

accuracy = 0.85
best hyperparameters of svm = {'C': 0.001, 'kernel': 'rbf'}

Here I have performed the hypertuning to get to know that which model is giving the best accuracy. I found that every model has same accuracy.

**Testing best model**

In [ ]:
y_predict = model_2.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_predict)
precision, recall, f1, support = sklearn.metrics.precision_recall_fscore_support(y_test, y_predict)
print('accuracy =',accuracy)
print('precision =', precision)
print('recall =', recall)
print('support =', support)
print('f1 = ', f1)

accuracy = 0.8566037735849057
precision = [0.85673352 0.84615385]
recall = [0.99777531 0.06832298]
support = [899 161]
f1 =  [0.92189106 0.12643678]

In this step, I am predicting the accuracy through logistic regression on test data. I got accuracy of 0.856.

I have built a pipeline to predict the Heart Disease Rate. I have performed tasks like loading data, converted categorical data into numerical data, split the data, replaced the null values, done grid search to find the better model and predicited the accuracy.

Dataset Source: https://www.kaggle.com/datasets/mirzahasnine/heart-disease-dataset